/* CSS Document */

body {
	background-color: white;
	margin: 0px;
}

p {
	color: black;
	font-family: 'Roboto', sans-serif;
}

a {
	color: black;
	font-family: 'Roboto', sans-serif;
}

.section_title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
	position: relative;
	padding-bottom: 25px;
}

.nav_menu_items {
	position: relative;
	top: 40%;
	float: right;
	margin-right: 10%;
}

.nav_menu_items a {
	position: relative;
	padding-left: 30px;
	text-decoration: none;
}

.nav_menu_items a:hover {
	text-decoration: underline;
}

.nav {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 1;
}

.nav_menu {
	position: relative;
	height: 100%;
	background-color: white;
	
	transition: opacity .25s;
}

.nav_menu_hidden {
	opacity: 0;
}

.nav_menu_shown {
	opacity: 0.9;
}

.nav_logo {
	float: left;
	position: relative;
	height: 100px;
	width: 150px;
	margin-left: 10%;
	background-size: 100%;
	z-index: 2;
	transition: background-image .25s;
}

.nav_logo_text {
	background-image: url('logos/OH Logo Text Bold Overlap.png');
	background-repeat: no-repeat;
}

.nav_logo_symbol {
	background-image: url('logos/OH Logo Symbol Long Clear.png');
	background-repeat: no-repeat;
}


#splash {
	position: relative;
	background-color: white;
	height: 750px;
	left: 0px;
	width: 100%;
	margin: 0px;
/*	padding-top: 150px;*/
}

#library {
	position: relative;
	background-color: white;
	height: auto;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding-top: 100px;
	padding-bottom: 100px
	
/*	Make the height of the window (or a percentage)*/
}

#about {
	position: relative;
	background-color: rgba(200,200,200,1.00);
	height: 600px;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding-top: 150px;
}

#resources {
	position: relative;
	background-color: rgba(108,108,108,1.00);
	height: 600px;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding-top: 150px;
}

#footer {
	position: relative;
	background-color: black;
	height: 600px;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding-top: 150px;
}

#splash img {
	position: relative;
	width: 100%;
	height: auto;
}

.mod_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-gap: 1rem;
}

.mod_card {
	
	
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
	border-radius: 20px;
	background-color: rgba(249,249,249,1.00);
	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	
	width: 250px;
	height: auto;
}

.mod_card:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add_mod {
	background-color: black;
	opacity: .5;
	
	transition: opacity .5s;
}

.add_mod:hover {
	opacity: 1;
}

.add_mod img {
	position: relative;
	height: 65px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 40%;
}

.add_mod p {
	color: white;
	position: relative;
	display: block;
	text-align: center;
	top: 40%;
	
	opacity: 0;
	transition: opacity .5s;
}

.add_mod:hover p {
	opacity: 1;
}

.mod_img {
	border-radius: 20px 20px 0 0;
	width: 100%;
}

.mod_desc {
  	padding: 2px 16px;
}


.mod_desc_title {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: 700;
}

.mod_desc_about {
	font-family: 'Roboto', sans-serif;
	color: black;
}

.mod_download {
	position: relative;
	float: right;
	margin-top: 13px;
	height: 25px;
}

.mod_download_button {
	position: relative;
	float: right;
	height: 25px;
	
}

.mod_download_img {
	height: 100%;
	width: auto;
	opacity: 0.5;
	
	transition: opacity .5s;
}

.mod_download_img:hover {
	opacity: 1;
}

.mod_download_txt {
	position: relative;
	float: left;
	font-family: 'Roboto', sans-serif;
	color: black;
	margin: 0px;
	padding-top: 3px;
	
	opacity: 0;
	padding-right: 0px;
	
	transition: opacity .2s, padding-right .2s;
}

.mod_down_txt_show {
	opacity: .5;
	padding-right: 10px;
}
/*
.mod_download:hover .mod_download_txt {
	display: block;
	opacity: .5;
	padding-right: 10px;
	
}
*/



#footer p {
	color: white;
	float: left;
}